/* body {
    background-color: aquamarine;
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    background-color: white;
    background-size: 250px;
    margin-bottom: 50px;
}

/* .separator{
    margin-bottom: 3px solid rgb(116, 114, 114);
} */

#logo {
  height: 50px;
  vertical-align: middle;
  padding-left: 20px;
  padding-top: 10px;
  vertical-align: middle;
  
}

.logo-text {
  vertical-align: middle;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 20px;
  vertical-align: middle;
}

body {
  font-family: sans-serif;
  background-color: rgb(240, 237, 235);
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.container{
    width: 70%;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    
}

.button-add-task {
  display: inline-block;
  background-color: rgb(85, 170, 220);
  width: 70px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  text-align:  center ;
  vertical-align: middle;
  border: 1px solid rgb(63, 100, 221);
  margin-bottom: 30px;
}

.button-text1{
    color: white;
    text-align: center;
    font-size: smaller;
}

.button-add-section {
  display: inline-block;
  background-color: white;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  text-align:  center ;
  vertical-align: middle;
  border: 1px solid grey;
  margin-bottom: 30px;
}

.button-text2{
    color: grey;
    text-align: center;
    font-size: smaller;
}

ul{
    list-style: none;
}

/* .section-line{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(231, 226, 226); 

} */

.button{
  display: inline-block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  text-align:  center ;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 12px;
}

.bg-blue{
  background-color: cornflowerblue;
}

.bg-purple{
  background-color: rgb(138, 92, 229);
}

.bg-green{
  background-color: rgb(100, 237, 175);
}

.bg-orange{
  background-color: rgb(228, 155, 112);
}

.bg-red{
  background-color: rgb(236, 77, 114);
}

.bg-kaki{
  background-color: rgb(103, 133, 84);
}

.circle{
  display:inline-block;
  border: 1px solid grey;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
}

.circle-check{
  border-color: green;
  color: green;
}

.circle-cross{
  border-color: red;
  color: red;
}