/* body {
    background-color: aquamarine;
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    background-color: white;
    background-size: 250px;
    margin-bottom: 50px;
}

#logo {
  height: 50px;
  vertical-align: middle;
  padding-left: 20px;
  padding-top: 10px;
  vertical-align: middle;
  
}

.logo-text {
  vertical-align: middle;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 20px;
  vertical-align: middle;
}

body {
  font-family: sans-serif;
  background-color: rgb(204, 202, 201);
}

.container{
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    
}

.button-add-task {
  display: inline-block;
  background-color: rgb(85, 170, 220);
  width: 70px;
  height: 30px;
  line-height: 30px;
  border-radius: 10%;
  text-align:  center ;
  vertical-align: middle;
  border: 1px solid rgb(63, 100, 221);
  margin-bottom: 30px;
}

.button-text1{
    color: white;
    text-align: center;
    font-size: smaller;
}

.button-add-section {
  display: inline-block;
  background-color: white;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 10%;
  text-align:  center ;
  vertical-align: middle;
  border: 1px solid grey;
  margin-bottom: 30px;
}

.button-text2{
    color: grey;
    text-align: center;
    font-size: smaller;
}

ul{
    list-style: none;
}

.section-line{
    padding: 10px 0px;
    border-bottom: 1px solid white; 

}